PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/css_store?retryWrites=true&w=majority
SERVER=http://localhost:5000

JWT_SECRET=VOTRE_CLE_JWT_SECRETE

EMAIL_USER=votre.email@gmail.com
EMAIL_PASS=votre_mot_de_passe_application

GOOGLE_CLIENT_ID=VOTRE_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=VOTRE_GOOGLE_CLIENT_SECRET

FACEBOOK_APP_ID=VOTRE_FACEBOOK_APP_ID
FACEBOOK_APP_SECRET=VOTRE_FACEBOOK_APP_SECRET
